form(action=routes.login, method="post")
    .input-boxes
        input(type="text", placeholder="아이디를 입력하세요.", name="userName")
        input(type="password", placeholder="패스워드를 입력하세요.", name="password")
    a(href="http://") ID / PW 찾기
    p.msg #{login_msg}
    input.button.white(type="submit", value="Login")