form(action=routes.login, method="post")
                input(type="text", placeholder="아이디를 입력하세요.", name="id")
                br
                input(type="text", placeholder="패스워드를 입력하세요.", name="password")
                br
                input(type="submit", value="Login")