doctype html
html
    head
        title #{pageTitle} | #{siteName}
        script(type='text/javascript' src='/script/script.js')
        link(rel="stylesheet" type="text/css" href="/stylesheet/styles.css")
    body
        .container
            include ../partials/header
            main
                block content
            include ../partials/footer