doctype html
html
    head
        title #{pageTitle} | #{siteName}
    body
        header
            h1.title
                a(href=routes.home) #{siteName}
        main
            block content
        include ../partials/footer