doctype html
html
    head
        title #{pageTitle} | #{siteName}
        script(type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js')
        script(type='text/javascript' src='/script/script.js')
        link(rel="stylesheet" type="text/css" href="/stylesheet/style.css")
    body
        header
            h1.title
                a(href=routes.home) #{siteName}
        main
            block content
        include ../partials/footer