@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;

    /*border : solid 1px black;*/
}

.container {
    display: flex;
    flex-direction: column;
    width: 1875px;
    height: 960px;
    margin: 0 auto;
    
    /*border : solid 1px black;*/
}

main {
    display: flex;
    /*justify-content: center;
    margin-left: 55px;*/
}

.fn-font {
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.profile-img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

input[type="file"] {
    position: absolute;
    /*width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;*/
     clip: rect(0,0,0,0);
    /*border: 0; */
}

#uploadBt {
    display: inline-block;
    padding: .5em .9em;
    vertical-align: bottom;
    
}