.commentBlock * {
      /*border: solid 1px black;  */
}

.commentBlock {
    display: flex;
    flex-direction: column;
    width: 780px;
    margin-bottom: 15px;

    border: solid 1px black;
}

.replyCommentBlock {
    display: flex;
    flex-direction: column;
    width: 780px;
    padding-left: 20px;
    margin-bottom: 15px;

    border: solid 1px black;
}

.activeForm {
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.activeForm * {
    margin-left: 15px;
    color: green;
    font-weight: bold;
}

.activeForm .openReply {
    margin-right : auto;
    color: blue;
}

.activeForm .delete {
    color: red;
}

.commentTitle {
    display: flex;
    width: 90%;
}

.author {
    font-weight: bold;
    margin-right: auto;
    margin-left: 5px;
}

.text {
    margin-left: 5px;
}