.editProfile * {
    font-weight: bold;
       /* border: solid 1px black;    */
}

.editProfile {
    width:1500px; 
    height:60%;
    display: flex;
    flex-direction: column;

    /* border: solid 1px black;  */
}


.editPF {
    display: flex;
    width: 80%;
    margin-bottom: 10px;
    flex-basis: 0;
}

.editProfile .edit-text {
    text-align: right;
    padding-right: 15px;
    width: 18%;
}

.editProfile .edit-input {
    width: 450px;
}


.editProfile .edit-input input[type="email"] , .editProfile .edit-input input[type="text"], .editProfile .edit-input input[type="password"] {
    display: inline-block;
    width: 280px;
    height: 25px;
    vertical-align: center;
    margin-right: 5px;
    margin-top: 3px;

}

.editProfile input[type="submit"], .editProfile input[type="button"] {
    display: block;
    width: 100px;
    height: 24px;
    margin-top: 3px;
    float: right;

}

#img_section {
    width: 300px;
    height: 300px;
}

#img-form {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 350px;
    margin-bottom: 20px;
}

.uploadBox {
    display: flex;
    margin-top: auto;
    justify-content: space-around;
}