header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h2 {
    margin-left: 20px;
}

header > .menu {
    float: left;
}

a:link a:visited{
    text-decoration: none;
    color: blue;
}