.join * {
    font-weight: bold;
    /*border: solid 1px black;*/
}

.join {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    /*margin-top: 30px;*/
}

.join > p.title {
    text-align: center;
    font-size: x-large;
    margin-bottom: 50px;
}


.editProfile {
    width:1500px; 
    height:60%;

}

.editPF {
    margin-bottom: 10px;

}

.editVD {
    margin-bottom: 10px;

}

.join .input_boxes {
    width: 400px;
    height: 70px;
    margin-bottom: 15px;

}

.join .edit-text {
    display: inline-block;
    width: 35%;
    height: 30%;
    
}

.join .edit-input input[type="email"] , .join .edit-input input[type="text"], .join .edit-input input[type="password"] {
    display: inline-block;
    width: 70%;
    height: 25px;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 3px;

}

.join .edit-input input[type="submit"], .join .edit-input input[type="button"] {
    display: block;
    width: 80px;
    height: 24px;
    margin-top: 3px;
    float: right;

}

#joinBt {
    font-size: 20px;
    width: 100%;
}