
#edit {
    width:1500px; 
    height:30px;
}

#edit-text {
    display: inline-block;
    width: 160px;
    height: 20px;
    margin-right:10px;
}

#edit-input {
    display: inline-block;
    width: 450px;
    height: 20px;
}

#edit-warn {
    display: inline-block;
    width: 400px;
    height: 20px;
}

#edit_box{
    width:300px; 
    height:400px; 
    float:left; 
    line-height:12px;
}

input[type="text"], input[type="password"], input[type="email"]  {
    width:250px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}