/** {
    border : solid 1px black;
}*/

a:link a:visited{
    text-decoration: none;
    color: blue;
}

.editProfile {
    width:1500px; 
    height:60%;

}

.editPF {
    margin-bottom: 10px;

}

.editVD {
    margin-bottom: 10px;

}

.input_boxes {
    width: 400px;
    height: 50px;
    margin-bottom: 5px;

}

.edit-text {
    display: inline-block;
    width: 35%;
    height: 30%;

}

.edit-input input[type="email"] , .edit-input input[type="text"], .edit-input input[type="password"] {
    display: inline-block;
    width: 70%;
    height: 18px;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 3px;

}

.edit-input input[type="submit"], .edit-input input[type="button"] {
    display: inline-block;
    width: 80px;
    height: 24px;
    vertical-align: bottom;
    margin-left: 5px;

}

/*.msg-boxes {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-top: 3px;

}*/

.videoBlock video {
    width:700px; 
    height:500px;
}

.editVideo {
    width: 1000px;
    height: 600px;
}

.video_player {
    width: 50%;
    height:50%;
}

.video_player video{
    width: 100%;
    height:100%;
}

.video_player #deleteBt {
    float: right;
    width:15%;
    height:100%;
    margin-left: 10px;
    box-sizing: border-box;
}

.video_player #editBt {
    float: right;
    width:15%;
    height:100%;
    box-sizing: border-box;
}

.myVideos video {
    width:100%; 
    height:100%;
}

.videos {
    width: 20%;
    display: inline-block;
    margin-right: 20px;
}

.videos #deleteBt {
    float: right;
    width:15%;
    height:100%;
    margin-left: 10px;
    box-sizing: border-box;
}

.videos #editBt {
    float: right;
    width:15%;
    height:100%;
    box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="email"]  {
    width:250px;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 60px;
}