extends layouts/main

block content
    .editProfile
        h3 프로필 수정
        form(action=routes.editProfile(nowUser.userName), method="post")
            input(type="file", id="imgFile", name="imgFile", accept="image/*", onchange="common.inputFileReturnImg(this, 100, 120, &nbsp;'imgFile');")            
            script.
                inputFileReturnImg: function (input, width, height, inputId){
                    if (input.files && input.files[0]){
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $('#' + inputId).attr('src', e.target.result)
                            .width(width)
                            .height(height);
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            br
            input(type="text", name="userName", placeholder="이름을 입력하세요.")
            br
            input(type="email", name="email", placeholder="이메일을 입력하세요.")
            br
            input(type="submit", value="프로필 업데이트")
        a(href="${routes.users}${routes.changePassword}")