
extends layouts/main
include mixins/myTitle
include mixins/videoBlock

block content
    +myTitle
    include ./partials/header

    .videos
        h1 videos
            each item in videos
                +videoBlock({
                    id: item.id,
                    videoName: item.videoName,
                    description: item.description,
                    fileUrl: item.fileUrl,
                    views: item.views,
                })

