extends layouts/main

block content
    .join
        p 회원가입 페이지입니다 
        p #{tryMsg}
        form(action=routes.join, method="post")
            input(type="text", placeholder="아이디를 입력하세요.", name="id")
            br
            input(type="text", placeholder="이메일을 입력하세요.", name="email")
            br
            input(type="password", placeholder="패스워드를 입력하세요.", name="password1")
            br
            input(type="password", placeholder="패스워드를 한번 더 입력하세요.", name="password2")
            br
            input(type="submit", value="Join")