extends layouts/main
include mixins/videoBlock

block content
    .myVideos
        h1 My Videos
        each vd in videos
            .videos
                .video_buttons
                    a.button.white#editBt(href=routes.editVideo(vd.id)) Edit
                    form(action=routes.deleteVideo(vd.id) + "?_method=DELETE", method="POST")
                        button.button.white#deleteBt(type="submit") Delete
                +videoBlock({
                    id: vd.id,
                    videoName: vd.videoName,
                    description: vd.description,
                    fileUrl: vd.fileUrl,
                    views: vd.views,
                })
            script.
                var videos = document.getElementsByClassName("nowVideo");

                for(var i = 0; i < videos.length; i++){
                    var video = videos[i];

                    video.addEventListener("playing", () => {
                        viewHome(video.id)
                        });  
                }