extends layouts/main
include mixins/videoBlock

block content
    .myVideos
        h1 My Videos
        each vd in videos
            .videos
                form(action=routes.videos + routes.deleteVideo + "?_method=DELETE", method="POST")
                    button(type="submit", name="videoID", value=vd.id, id="deleteBt") Delete
                button(type="button", onclick="location.href=\"" + routes.editVideo(vd.id) + "\"", class="editVideoBt", id="editBt") Edit
                +videoBlock({
                    id: vd.id,
                    videoName: vd.videoName,
                    description: vd.description,
                    fileUrl: vd.fileUrl,
                    views: vd.views,
                })
            script.
                var videos = document.getElementsByClassName("nowVideo");

                for(var i = 0; i < videos.length; i++){
                    var video = videos[i];

                    video.addEventListener("playing", () => {
                        viewHome(video.id)
                        });  
                }