extends layouts/main
include mixins/videoBlock

block content
    include partials/header
    .search__header
        h3 "#{searchTerm}" 으로 검색한 결과입니다.
    .search__video
    each item in videos
        +videoBlock({
            title: item.title,
            description: item.description,
            videoFile: item.videoFile
        })