extends layouts/main

block content
    h1 #{userName}'s Profile
    img(src=routes.home + imgUrl, alt="프로필을 적용해 주세요.", width="200", height="200")
    p E-mail : #{userEmail}
    if nowUser.userName == userName
        a(href=routes.editProfile(userName)) Edit