extends layouts/main
include mixins/videoBlock

block content
    .video
        video(src=routes.home + video.fileUrl, width="1280px". height="720px", controls)
        h2=video.videoName
        p=video.description
        p=video.views